Repository MVazeZAQ/MVTeam, pull requests merged in 2024-12, with the labels that each got.

#39 Setup react on project
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.jsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/vite.config.js
Labels: frontend-feature

#40 Navbar component implementation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/index.css
  frontend/src/main.jsx
Labels: frontend-feature

#41 New Filter component
  frontend/src/App.jsx
  frontend/src/components/Filter .jsx
Labels: frontend-feature

#42 Notecontainer and Notecard
  frontend/src/App.jsx
  frontend/src/components/NoteCard.jsx
  frontend/src/components/NoteCardContainer.jsx
Labels: frontend-feature

#43 React Router implemantion
  frontend/src/App.jsx
  frontend/src/pages/HomePage.jsx
Labels: frontend-feature

#44 Outlet, using Navbar accross all pages
  frontend/src/App.jsx
  frontend/src/layouts/MainLayout.jsx
  frontend/src/pages/HomePage.jsx
Labels: frontend-feature

#46 Create README.md
  README.md
Labels: documentation

#47 Create SCRUMS.md
  SCRUMS.md
Labels: documentation

#50 NotePage
  frontend/.vite/deps/_metadata.json
  frontend/.vite/deps/package.json
  frontend/src/App.jsx
  frontend/src/components/Filter.jsx
  frontend/src/components/Modal.css
  frontend/src/components/Modal.jsx
  frontend/src/components/NoteCard.jsx
  frontend/src/pages/AddNotes.css
  frontend/src/pages/AddNotes.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/NotePage.css
  frontend/src/pages/NotePage.jsx
Labels: bug, frontend-feature

#52 Cors connect
  inotes/inotes/__pycache__/__init__.cpython-313.pyc
  inotes/inotes/__pycache__/settings.cpython-313.pyc
  inotes/inotes/__pycache__/urls.cpython-313.pyc
  inotes/inotes/__pycache__/wsgi.cpython-313.pyc
  inotes/inotes/settings.py
  inotes/inotesapp/__pycache__/__init__.cpython-313.pyc
  inotes/inotesapp/__pycache__/admin.cpython-313.pyc
  inotes/inotesapp/__pycache__/apps.cpython-313.pyc
  inotes/inotesapp/__pycache__/models.cpython-313.pyc
  inotes/inotesapp/__pycache__/serializers.cpython-313.pyc
  inotes/inotesapp/__pycache__/urls.cpython-313.pyc
  inotes/inotesapp/__pycache__/views.cpython-313.pyc
  inotes/inotesapp/migrations/__pycache__/0001_initial.cpython-313.pyc
  inotes/inotesapp/migrations/__pycache__/0002_alter_note_slug.cpython-313.pyc
  inotes/inotesapp/migrations/__pycache__/__init__.cpython-313.pyc
  inotes/requirements.txt
Labels: bug, connection

#53 Fetch notes in frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/NoteCard.jsx
  frontend/src/components/NoteCardContainer.jsx
  frontend/src/pages/HomePage.jsx
  inotes/inotes/__pycache__/__init__.cpython-313.pyc
  inotes/inotes/__pycache__/settings.cpython-313.pyc
  inotes/inotes/__pycache__/urls.cpython-313.pyc
  inotes/inotes/__pycache__/wsgi.cpython-313.pyc
  inotes/inotes/settings.py
  inotes/inotesapp/__pycache__/__init__.cpython-313.pyc
  inotes/inotesapp/__pycache__/admin.cpython-313.pyc
  inotes/inotesapp/__pycache__/apps.cpython-313.pyc
  inotes/inotesapp/__pycache__/models.cpython-313.pyc
  inotes/inotesapp/__pycache__/serializers.cpython-313.pyc
  inotes/inotesapp/__pycache__/urls.cpython-313.pyc
  inotes/inotesapp/__pycache__/views.cpython-313.pyc
  inotes/inotesapp/migrations/__pycache__/0001_initial.cpython-313.pyc
  inotes/inotesapp/migrations/__pycache__/0002_alter_note_slug.cpython-313.pyc
  inotes/inotesapp/migrations/__pycache__/__init__.cpython-313.pyc
Labels: bug, Frontend-feature, connection

#54 Note coloring
  frontend/src/components/NoteCard.jsx
  package-lock.json
Labels: Frontend-feature

#55 Format date
  frontend/src/components/FormatDate.js
  frontend/src/components/NoteCard.jsx
Labels: Frontend-feature

#56 Loading spinner
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Loader.jsx
  frontend/src/components/NoteCardContainer.jsx
  frontend/src/pages/HomePage.jsx
Labels: Frontend-feature
