Repository MVazeZAQ/MVTeam, pull requests merged in 2025-01, with the labels that each got.

#57 Dynamic note detail
  frontend/src/App.jsx
  frontend/src/pages/NoteDetailPage.css
  frontend/src/pages/NoteDetailPage.jsx
  frontend/src/pages/NotePage.jsx
  inotes/db.sqlite3
  inotes/inotesapp/db.sqlite3
Labels: enhancement, Frontend-feature

#58 Dynamic add notes page
  frontend/src/App.jsx
  frontend/src/pages/AddNotePage.css
  frontend/src/pages/AddNotePage.jsx
  frontend/src/pages/EditNotePage.jsx
  inotes/db.sqlite3
  inotes/inotes/settings.py
  inotes/inotesapp/urls.py
Labels: Frontend-feature

#59 Toastify
  frontend/.gitignore
  frontend/package.json
  frontend/src/layouts/MainLayout.jsx
  inotes/db.sqlite3
  package-lock.json
  package.json
Labels: Frontend-feature

#60 Update note page
  frontend/package-lock.json
  frontend/src/App.jsx
  frontend/src/pages/EditNotePage.jsx
Labels: Frontend-feature

#62 Filtering notes
  frontend/node_modules/.vite/deps/_metadata.json
  frontend/src/App.jsx
  frontend/src/components/Filter.jsx
  frontend/src/pages/HomePage.jsx
Labels: Frontend-feature

#63 Search functionality
  frontend/src/App.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/layouts/MainLayout.jsx
  inotes/inotes/settings.py
  inotes/inotesapp/urls.py
  inotes/inotesapp/views.py
Labels: bug, enhancement, Frontend-feature
